{% extends 'layout.html' %}
{% block body%}

<div class = "row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" disabled aria-label="Close"></button>
    </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

       <div class="card card-body">
        <form action ="/add_cliente" method="POST">
            <div class="form-group">
             <input type="text" name="razonsocial" placeholder="Razon Social" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="nombrefantsia" placeholder="Nombre de Fantasía" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="telefono" placeholder="Telefono" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="cuit" placeholder="CUIT" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="direccion" placeholder="Direccion" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="mail" placeholder="Email" class="form-control">
            </div>
            <div class="group">
                <button type ="submit" clas="btn btn-secondary btn-block">
                Guardar
            </button>
        </div>
        </form>
       </div>
    </div>
    </div>
</div>

{% endblock %}
