{% extends 'layout.html' %}
{% block body%}


<div class="col-md-4 offset-md-4">
<card class="body">
    <form action ="/update_producto/{{producto.0}}" method="POST">      
        <div class=" form-group">
            <div class="form-group">
                <input type="text" name="producto" placeholder="Producto" value ="{{producto.1}}" class="form-control">
               </div>
               <div class="form-group">
                   <input type="text" name="detalle" placeholder="Detalle del producto" value ="{{producto.2}}" class="form-control">
               </div>
               <div class="form-group">
                   <input type="text" name="stockDisponible" placeholder="Stock Disponible" value ="{{producto.4}}"class="form-control">
               </div>
               <div class="form-group">
                   <input type="text" name="stockVendido" placeholder="Stock Vendido" value ="{{producto.3}}" class="form-control">
               </div>
               <div class="form-group">
                   <input type="text" name="rubro" placeholder="Rubro" value ="{{producto.5}}" class="form-control">
               </div>
            <button type ="submit" class="btn btn-success btn-block">
                Guardar
            </button>
        </div> 
    </form>
</card>
</div>

{% endblock %}