{% extends 'layout.html' %}
{% block body%}


<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>Razon Social</td>
                <td>Nombre de Fantasía</td>
                <td>Telefono</td>
                <td>Cuit</td>
                <td>Dirección</td>
                <td>Mail</td>
                <td>Operaciones</td>
            </tr>
        </thead>
    
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.1 }}</td>
                <td>{{ cliente.2 }}</td>
                <td>{{ cliente.3 }}</td>
                <td>{{ cliente.4 }}</td>
                <td>{{ cliente.5 }}</td>
                <td>{{ cliente.6 }}</td>
                <td>
                    <a href="/edit/{{cliente.0}}" class="btn btn-danger"> Editar</a>
                    <a href="/delete/{{cliente.0}}" class="btn btn-danger btn-delete"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
